<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Numerology Calculator</title>
    <link rel="stylesheet" href="/static/styles.css?v=2.0" />
  </head>
  <body>
    <div class="container">
      <h1>Numerology Calculator</h1>

      <form action="/result" method="post">
        <label for="name">Enter your Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="birthdate">Enter your Birthdate (YYYY-MM-DD):</label>
        <input type="date" id="birthdate" name="birthdate" required />

        <button type="submit">Calculate</button>
      </form>

      {% if results %}

      <div class="section">
        <h2>Results</h2>
        <p><strong>Name:</strong> {{ results.name }}</p>
        <p><strong>Birthdate:</strong> {{ results.birthdate }}</p>
        <p><strong>Name Numerology:</strong> {{ results.chaldean_number }}</p>
      </div>

      <div class="section vedic-grid">
        <h3>Base Grid</h3>
        <table>
          <tbody>
            {% for row in results.vedic_grid %}
            <tr>
              {% for col_index in range(3) %}
              <td>
                <span class="cell-value">{{ row[col_index] }}</span>
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="section mahadasha">
        <h2>Mahadasha - Antardasha</h2>
        <table>
          <thead>
            <tr>
              <th>Year</th>
              <th>Start Date</th>
              <th>Mahadasha</th>
              <th>Antardasha</th>
              <th>Running Age</th>
            </tr>
          </thead>
          <tbody>
            {% for period in results.mahadasha_periods %}
            <tr>
              <td>{{ period.year }}</td>
              <td>{{ period.start_date }}</td>
              <td>{{ period.mahadasha }}</td>
              <td>{{ period.antardasha }}</td>
              <td>{{ period.running_age }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="pagination"></div>
      </div>

      <div class="section">
        <div id="updated-grid-section" style="display: none">
          <h3>Yearly Grid</h3>
          <table id="updated-grid">
            <tbody></tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>

    <script>
      let currentPage = 1;
      const pageSize = 10;

      function paginate() {
        const rows = document.querySelectorAll(".mahadasha tbody tr");
        const totalPages = Math.ceil(rows.length / pageSize);

        rows.forEach((row, index) => {
          row.style.display =
            index >= (currentPage - 1) * pageSize &&
            index < currentPage * pageSize
              ? ""
              : "none";
        });

        const pagination = document.querySelector(".pagination");
        pagination.innerHTML = "";
        for (let i = 1; i <= totalPages; i++) {
          const button = document.createElement("button");
          button.className = i === currentPage ? "active" : "";
          button.onclick = () => {
            currentPage = i;
            paginate();
          };

          button.textContent = i;
          pagination.appendChild(button);
        }
      }

      async function handleRowClick(year, mahadasha, antardasha) {
        const baseGrid = [];
        const gridRows = document.querySelectorAll(".vedic-grid tbody tr");
        gridRows.forEach((row) => {
          const rowData = [];
          const cells = row.querySelectorAll("td");
          cells.forEach((cell) => {
            rowData.push(cell.textContent.trim());
          });
          baseGrid.push(rowData);
        });

        const baseGridJson = JSON.stringify(baseGrid);

        const response = await fetch(
          `/update-grid?mahadasha=${mahadasha}&antardasha=${antardasha}&base_grid=${encodeURIComponent(
            baseGridJson
          )}`
        );
        const data = await response.json();
        displayUpdatedGrid(year, data.updated_grid);
      }

      function displayUpdatedGrid(year, updatedGrid) {
        const updatedGridSection = document.querySelector(
          "#updated-grid-section h3"
        );
        updatedGridSection.textContent = `Year: ${year}`;

        const gridContainer = document.querySelector("#updated-grid");
        gridContainer.innerHTML = "";

        const table = document.createElement("table");
        updatedGrid.forEach((row) => {
          const tr = document.createElement("tr");
          row.forEach((cell) => {
            const td = document.createElement("td");
            td.textContent = cell;
            tr.appendChild(td);
          });
          table.appendChild(tr);
        });

        gridContainer.appendChild(table);
        gridContainer.parentElement.style.display = "block";
      }

      document.addEventListener("DOMContentLoaded", () => {
        paginate();
        const rows = document.querySelectorAll(".mahadasha tbody tr");
        rows.forEach((row) => {
          row.addEventListener("click", () => {
            const year = row
              .querySelector("td:nth-child(1)")
              .textContent.trim();
            const mahadasha = row
              .querySelector("td:nth-child(3)")
              .textContent.trim();
            const antardasha = row
              .querySelector("td:nth-child(4)")
              .textContent.trim();
            handleRowClick(year, mahadasha, antardasha);
          });
        });
      });
    </script>
  </body>
</html>
